# fastapi
# uvicorn[standard]
# websockets
# flask
# azure-communication-callautomation
# azure-eventgrid
# openai
# requests
# python-dotenv
# sarvamai
# faster-whisper
# # Optional local TTS backends:
# # TTS

faster-whisper
openai
python-dotenv
requests
piper-tts
flask
sarvamai
audioop-lts; python_version >= "3.13"
